body {

  background-size: cover;
  background-attachment: fixed;
  /* FIXME: Temp. workaround for vertical scrollbars */
  margin: 0;
}


body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #efefef;
}
h1 {
  text-transform: uppercase;
  font-size: 31px;
  letter-spacing: 4px;
  font-weight: 400;
}
.mdl-layout__header a {
  color: white; 
  text-decoration: none;
}
.mdl-layout__header {
  position: fixed;
  top: 0px;
  background-color: transparent;
}
.right {
  text-align: right;
}
.nav-button  {
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  position: absolute;
  text-align: center;
  width: 100%;
}
.logo img {
  width: 80px;
  position: relative;
  top: 25px;
}
.presentation {
  padding-top: 80px;
  padding-bottom: 80px;
}
.col-3 {
  width: 33%; 
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;
}
.col-3 i {
  font-size: 80px;
}
.col-3 p {
  font-size: 1.2em;
}
@media screen and (max-width: 480px) {
  .col-3 {
  width: 100%; 
  }
}
.mdl-card__media img {
  max-width: 120px;
}
.challenge_content .mdl-card:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari */
  transform: scale(1.02,1.02);
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
.pad16 {
  padding: 16px;
}
.avatar img {
  border-radius: 50%; 
}
.post {
  margin-top: 80px;
}
/* Challenges */
.challenge_content {
  background-color: #efefef;
  padding-top: 80px;
}
.challenge-head {
  background-size: cover;
  min-height: 300px;
}
.challenge-title {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.progress {
  width:100%; 
  background-color: white;
  height: 3px;
}
.percent {
  background-color: #2296F3; 
  height: 3px; 
  float: left;
}
.demo-blog .demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.demo-blog__posts {
  padding-top: 80px;
}

.demo-blog.mdl-layout .mdl-layout__content {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.demo-blog .mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 360px;
}
.demo-blog .mdl-card__title {
  padding: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mdl-card__supporting-text {
  width: 100% !important;
}
.demo-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
  color: inherit;
}
.demo-blog .mdl-card__supporting-text {
  padding: 16px;
  min-height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;*/
}
.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.demo-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.demo-blog:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.demo-blog .mdl-card__actions:first-child {
  margin-left: 0;
}
.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}
.demo-blog .meta > .meta__favorites{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.demo-blog .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.demo-blog .mdl-card .meta.meta--fill {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.demo-blog .meta > *:first-child {
  margin-right: 16px;
}
.demo-blog .meta > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.coffee-pic {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.something-else {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.demo-blog .coffee-pic .mdl-card__media {
  background-image: url('images/coffee.jpg');
}
.demo-blog .something-else .mdl-card__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-blog .something-else > button {
  position: absolute;
  top: -28px;
  right: 28px;
}
.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.demo-blog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.demo-blog .on-the-road-again .mdl-card__media {
  background-image: url('images/road.jpg');
}
.demo-blog .shopping .mdl-card__media {
  background-image: url('images/shopping.jpg');
}
.demo-blog .demo-blog__posts > .demo-nav {
  margin: 12px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button {
  color: white;
  text-decoration: none;
}
.demo-blog .demo-blog__posts > .demo-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.demo-blog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.demo-blog .mdl-card h3 {
  margin: 0;
}
.demo-blog .mdl-card h3 a {
  text-decoration: none;
}
.demo-blog .mdl-card h3.quote:before, .demo-blog .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.demo-blog .mdl-card h3.quote:before {
  content: '“';
}
.demo-blog .mdl-card h3.quote:after {
  content: '”';
}
.demo-blog--blogpost .custom-header {
  background-color: transparent;
}
.demo-blog--blogpost .demo-blog__posts > .mdl-card .mdl-card__media {
  background-image: url('images/road_big.jpg');
  height: 280px;
}
.demo-blog--blogpost .comments {
  background-color: #EEE;
}
.demo-blog--blogpost .meta > * {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

.demo-blog--blogpost .comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 32px;
  box-sizing: border-box;
}
.demo-blog--blogpost .comments > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-diretion: row;
  margin-bottom: 16px;
}
.demo-blog--blogpost .comments > form .mdl-textfield {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 16px;
  color: rgb(97, 97, 97);
}
/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.demo-blog--blogpost .comments > form .mdl-textfield .mdl-textfield__input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-blog--blogpost .comments > form .mdl-textfield input,
.demo-blog--blogpost .comments > form .mdl-textfield textarea {
  resize: none;
}
.demo-blog--blogpost .comments > form button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}
.demo-blog--blogpost .comments .comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.demo-blog--blogpost .comments .comment > .comment__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.demo-blog--blogpost .comments .comment > .comment__header > .comment__avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 16px;
}
.demo-blog--blogpost .comments .comment > .comment__header > .comment__author {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo-blog--blogpost .comments .comment > .comment__text {
  line-height: 1.5em;
}
.demo-blog--blogpost .comments .comment > .comment__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  margin-top: 16px;
}
.demo-blog--blogpost .comments .comment > .comment__actions button {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.24);
}
.demo-blog--blogpost .comments .comment > .comment__answers {
  padding-top: 32px;
  padding-left: 48px;
}

.demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}

.demo-ribbon .demo-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  z-index: 9999;
}

.demo-blog .section-spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-blog .something-else {
  overflow: visible;
  z-index: 10;
}
.demo-blog .amazing .mdl-card__title {
  background-color: #263238;
}
.demo-blog .minilogo {
  width: 44px;
  height: 44px;
  background-image: url('images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 22px;
  background-color: #F5F5F5;
}
.mdl-layout__header .minilogo {
  width: 30px;
  height: 30px;
  background-image: url('images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  background-color: #F5F5F5;
}
.mdl-menu__container {
  margin-top: 10px;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}
.social-btn__twitter {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
}
.social-btn__blogger {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png');
}
.social-btn__gplus {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png');
}
.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
}

.mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.mdl-menu a {
  text-decoration: none;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  background-size: cover;
  background-position: 50% 50%;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h1,
.demo-content h2,
.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.meta a,
.mdl-menu a,
.demo-crumbs a {
  text-decoration: none;
  color: currentColor;
}

.mdl-mini-footer--right-section {
  position: relative;
}

figure {margin: 0; }
img {max-width: 100%; }

.mode-search {
  overflow: hidden;
}

.mode-search  form {
  opacity: 1;
  display: block;
  pointer-events: all;
  transform: opacity 0 .2s linear;
}

.mode-search .mdl-button--search {
  transform: scale(70);
  z-index: 10;
}
.mode-search .mdl-button--search i {
  transform: scale(.01428571429); /* .01428571429 = 1/70 */
  transform-origin: 0 0;
}
.mode-search .mdl-button--search i.icon--search {
  opacity: 0;
  transition: opacity 0 0s linear;
}
.mode-search .mdl-button--search i.icon--close {
  opacity: 1;
  transition: opacity .2s .2s linear;
}


form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50%;
  display: none;
  opacity: 0;
}
form input,
form label {
  font-size: 3em !important;
  line-height: 1.4;
}
form label {opacity: .5; }
form .mdl-textfield {width: 100%; }

i.icon--close {
  opacity: 0;
}

i.icon--search {
  opacity: 1;
  transition: opacity 0 .2s linear;
}

.mdl-button--search {
  transition: transform .2s 0 ease-in-out;
}

.mdl-grid--alt {
  padding-left: 0;
  padding-right: 0;
  margin-left: -8px;
  margin-right: -8px;
}

.lead p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 300;
}

.lead strong {
  font-weight: 400;
}

figure.full,
figure.full img {
  width: 100%;
}

pre code {
  display: inline-block;
  padding: 8px 16px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

code {
  /*font-family: Consolas, Monaco, 'Andale Mono', monospace;*/
  background-color: #ebebeb;
}

table {width: 100%;}
thead {text-align: left;}

.float-left {float: left; }
.float-right {float: right; }

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}
